$sans: "Noto Sans", sans-serif;
$mono: "Fira Code", "Noto Sans Mono", monospace;
%header {
	font-weight: bold;
}
body {
	font: 20pt $sans;
	dl {
		dt {
			&:nth-child(1) {
				font-size: 2em;
				sup {
					font-size: 1.25em;
				}
			}
			@each $i in (1 3 5) {
				&:nth-child(#{$i}) {
					@extend %header;
				}
			}
		}
		dd {
			&:nth-child(2) {
				font-style: italic;
			}
		}
	}
}
